<form [formGroup]="form">
    <div class="mb-4">
        <label for="text-input" class="block mb-2">Text</label>
        <input
            required
            class="rounded-lg text-black pl-1 py-1 mb-1 accent-green-600"
            type="text"
            id="text-input"
            formControlName="text"
        />
        @if (form.controls.text.errors && submitted()) {
            <div class="text-orange-700 text-xs">Required</div>
        }
    </div>
    <div class="mb-4">
        <label for="height-input" class="block mb-2">Height</label>
        <input
            id="height-input"
            [formControl]="form.controls.height"
            type="number"
            [min]="1"
            [max]="1000"
            [value]="defaultHeight"
            class="rounded-lg text-black pl-1 py-1 accent-green-600"
        />
        @if (form.controls.height.errors && submitted()) {
            <p class="text-xs text-red-500 mt-1">Must be a valid number between {{ minHeight }} and {{ maxHeight }}.</p>
        }
    </div>
    <div class="mb-4">
        <label for="outline-input" class="block mb-1">Outline</label>
        <input id="outline-input" type="checkbox" formControlName="outline" class="accent-green-600" />
    </div>

    <button type="button" (click)="onSubmit()" class="px-4 py-1 bg-green-600 rounded hover:bg-green-500">Create maze</button>
</form>
