@let result = processService.output | async;

<div class="min-h-screen bg-gray-900 text-gray-200 p-8">
    <div class="max-w-4xl mx-auto">
        <header class="text-center mb-6">
            <h1 class="text-3xl font-bold text-green-500">Maze Generator</h1>
        </header>

        <main>
            <section class="mb-4">
                <app-expander header="Choose Image" [toggle]="toggleFileExpander">
                    <app-file-upload></app-file-upload>
                </app-expander>
            </section>

            <section class="mb-8">
                <app-settings></app-settings>
            </section>

            @if (result) {
                <section>
                    <app-result [result]="result"></app-result>
                </section>
            }
        </main>
    </div>
</div>
