@let result = processService.output | async;

<div class="min-h-screen bg-gray-900 text-gray-200 p-8">
    <div class="max-w-4xl mx-auto">
        <header class="text-center mb-6">
            <h1 class="text-3xl font-bold text-green-500">Maze Generator</h1>
        </header>

        <main>
            <section class="mb-4">
                <!-- @if (result) { -->
                <app-expander header="Choose Image" [toggle]="toggleFileExpander">
                    <app-file-upload></app-file-upload>
                </app-expander>
                <!-- } @else {
                    <label class="block mb-4 text-lg">Choose an Image</label>

                    <app-file-upload></app-file-upload>
                } -->
            </section>

            @if (result) {
                <section class="mb-8">
                    <app-settings></app-settings>
                </section>

                <section class="mb-8">
                    <app-result [result]="result"></app-result>
                </section>
            }

            <!-- <section class="mt-8">
                <p>Generating Maze...</p>
                <div class="w-full h-2 bg-gray-800 rounded mt-2">
                    <div class="bg-green-600 h-2 rounded" style="width: 50%"></div>
                </div>
            </section> -->
        </main>
    </div>
</div>
