<h1 class="text-4xl tracking-tight font-semibold pb-4 mb-4 border-b border-slate-200/5">Maze Generator</h1>
<form>
    <div class="flex flex-row">
        <label for="mazeSize" class="text-lg p-2">Size</label>
        <input [formControl]="controls.size" type="range" [min]="sizeMin" [max]="sizeMax" value="100" id="mazeSize" />
    </div>
    <button
        type="button"
        (click)="submit()"
        [disabled]="loading"
        class="p-2 border border-slate-200/5 rounded-lg bg-yellow-800/70 hover:bg-yellow-800"
    >
        Generate maze
    </button>
</form>
<div *ngIf="loading">Loading...</div>
<img class="p-8" *ngIf="resultSrc && !loading" [src]="resultSrc" />
