@let upload = upload$ | async;

<div class="mb-2">
    <app-example-upload />
</div>
<div class="relative flex items-center justify-center w-full">
    @if (upload) {
        <div class="absolute top-0 left-0 h-64 w-full flex pointer-events-none">
            <img class="opacity-25 m-auto max-h-full" [src]="upload" />
        </div>
    }
    <label
        for="dropzone-file"
        class="flex flex-col items-center justify-center w-full h-64 border-2 border-dashed rounded-lg cursor-pointer bg-gray-800 border-gray-700 hover:bg-gray-700 hover:border-gray-600"
    >
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg
                class="w-8 h-8 mb-4 text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 16"
            >
                @if (upload) {
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width=".7"
                        d="M15.529 2.857l-1.403-1.404c-0.565-0.566-1.555-0.566-2.122 0l-9.057 9.058-1.722 5.288 5.248-1.765 9.055-9.056c0.586-0.584 0.586-1.536 0.001-2.121zM3.094 13.294l0.645-1.979 1.934 1.935-1.963 0.66-0.616-0.616zM4.355 10.518l5.493-5.493 2.111 2.11-5.494 5.494-2.11-2.111zM10.555 4.317l0.729-0.729 2.111 2.11-0.729 0.729-2.111-2.11zM14.822 4.271l-0.72 0.72-2.111-2.11 0.72-0.721c0.189-0.189 0.518-0.189 0.707 0l1.403 1.404c0.196 0.196 0.196 0.512 0.001 0.707z"
                    />
                } @else {
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                    />
                }
            </svg>
            <p class="mb-2 text-sm text-gray-400"><span class="font-semibold">Click to choose</span> or drag and drop</p>
            <p class="text-xs text-gray-400">JPG, JPEG, PNG (MAX. 2MB)</p>
            @if (error) {
                <p class="text-xs text-red-500">Invalid image: {{ error }}</p>
            }
        </div>
        <input
            id="dropzone-file"
            type="file"
            class="hidden"
            [accept]="exceptedTypes.join(',')"
            (change)="onFileSelected($event)"
        />
    </label>
</div>
