@let current = currentSettings$ | async;
@let new = form.value;

<app-expander header="Settings" [toggle]="toggle$">
    <form>
        <label class="block mb-2">Maze height</label>
        <div class="flex justify-between w-full mb-4">
            <span class="text-sm mr-4" [ngClass]="{ 'text-orange-500': current?.size !== new.size }">{{ new.size }}</span>
            <input
                [formControl]="form.controls.size"
                type="range"
                [min]="sizeMin"
                [max]="sizeMax"
                [value]="defaultSettings.size"
                class="my-auto w-full appearance-none h-2 bg-gray-700 rounded-full accent-green-500"
            />
        </div>
        <label class="block mb-2">Threshold</label>
        <div class="flex justify-between w-full mb-4">
            <span class="text-sm mr-4" [ngClass]="{ 'text-green-500': current?.threshold !== new.threshold }">{{
                new.threshold | number: '1.3-3'
            }}</span>
            <input
                [formControl]="form.controls.threshold"
                type="range"
                [min]="thresholdMin"
                [max]="thresholdMax"
                step="0.005"
                [value]="defaultSettings.threshold"
                class="my-auto w-full appearance-none h-2 bg-gray-700 rounded-full accent-green-500"
            />
        </div>

        <button (click)="submit()" type="button" class="px-4 py-1 bg-green-600 rounded hover:bg-green-500">Apply</button>
    </form>
</app-expander>
